<!DOCTYPE html>
<html ng-app="MyMatcher">
<head>
  <title>boys</title>
  <link rel ="stylesheet" href="/css/boys_girls.css">
  <meta name=viewport content="width=device-width, initial-scale=1">
    <script src="jquery-1.10.2.js"></script>
  <script src="jquery-ui.js"></script>
</head>
<body id="education_body" ng-controller="MyMatcherController">

	<header>
		<a href="filter.html">
			<h1>
				<img src="./images/filter.png">
				Filter your friends
			</h1>
		</a>
	</header>	

	<nav>
		<ul>
			<li id="slider1"><a href="age.html"><img src="./images/age.png">Age</a></li>

			<div>
				<li><a href="age_filter.html"><img src="./images/age.png">Age</a></li>
					<p>
						  <label for="amount"></label>
						  <input type="text" id="amount">
					</p>
				<div id="slider-range"></div>
				<input type="text" id="amount2"> 
			</div>

			<li><a href="location.html"><img src="./images/location.png">Location</a></li>
			<li class="education_li"><a href="education.html"><img src="./images/education.png">Education institution</a></li>
			<li><a href="#"><img src="./images/origin city.png">City of Origion</a></li>
			<li><a href="#"><img src="./images/work.png">Work</a></li>
			<li><a href="#"><img src="./images/events.png">Recent Events</a></li>
			<li><a href="#"><img src="./images/places.png">Visited Places</a></li>
			<li><a href="#"><img src="./images/music.png">Music</a></li>
			
		</ul>
	</nav>

	<footer ng-click="func()">
				<section  class="footer_boys">
					<h2>Boys<a>132</a></h2>
				</section>
		
			<section class="footer_girls">
				<h2>Girls<a>124</a></h2>
			</section>

	</footer>


<script src="angular.min.js"></script>
<script src="MyMatcher.js"></script>
<!-- <a href="match.html">match</a>
 -->
</body>
</html>

