<!DOCTYPE html>
<html ng-app="MyMatcher">

	<head>
		<title>My Matcher</title>
		<script src="jquery-1.10.2.js"></script>
		<script src="jquery-ui.js"></script>
		<link rel ="stylesheet" href="css/boysgirls.css">
		<meta name=viewport content="width=device-width, initial-scale=1">
	</head>

	<body ng-controller="finallyMatch" id="matchBody" >

		<h1>Do you think {{bname}} & {{gname}} are a match?</h1>

		<section class="final_match_">
			<section class="final_match_boy"><img src="{{bpic}}" alt="boy_picture">
			</section>
			<section class="final_match_girl"><img src="{{gpic}}" alt="girl_picture">
			</section>
			<section class="final_match"><img src="./images/final_match.png" alt="match">
			</section>
		</section>

		<table>
			<thead>
				<tr>
					<th></th>
					<th class="match_boy">{{bname}}</th>
					<th class="match_girl">{{gname}}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Age</td>
					<td>{{bage}}</td>
					<td>{{gage}}</td>
				</tr>
				<tr>
					<td>Location</td>
					<td>{{bloc}}</td>
					<td>{{gloc}}</td>
				</tr>
				<tr>
					<td>Education institution</td>
					<td>{{bedu}}</td>
					<td>{{gedu}}</td>
				</tr>
				<tr>
					<td>Origin City</td>
					<td>Netania</td>
					<td>Kfar-Saba</td>
				</tr>
				<tr>
					<td>Work</td>
					<td></td>
					<td>Shenkar Archive</td>
				</tr>
			</tbody>
		</table>

		<h2>Chances of prior familiarity</h2>
		<section class="barSection">
			<img src="./images/bar.png" alt="bar">
		</section>

		<p>
			<a class="match" href="#" onclick="Match()"> <img src="./images/v.png" alt="v"> Match! </a>
		</p>






		<p>
			<a class="no_match" href="boysgirls.html"> <img src="./images/x.png" alt="x"> No, let's try again </a>
		</p>
		<a class="notification"></a>
		<!-- <script src="angular.min.js"></script>
		-->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script src="MyMatcher.js"></script>

	</body>
</html>