<!DOCTYPE html>
<html ng-app="MyMatcher">
<head>
  <title>boys</title>
  <link rel ="stylesheet" href="/css/boys_girls.css">
  <meta name=viewport content="width=device-width, initial-scale=1">
</head>
<body id="matchBody" ng-controller="MyMatcherController">

	<h1>Do you think Dave & Chen are a match?</h1>

	<section class="final_match_">
		<section class="final_match_boy">	 
	        <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/p50x50/11150419_10153291501781385_8180653872622413399_n.jpg?oh=2a0d64dacbc311989a634c9338d4515b&oe=562965CA&__gda__=1445247183_8310b6b408183b3548ffaaaf1998f584">          	
		</section>

		<section class="final_match_girl">      
	        <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xtp1/v/t1.0-1/p50x50/10352189_10152239781453121_7636242189187007560_n.jpg?oh=f660dbc0b3f55b17fa6776ea029170fb&oe=5620F7C1&__gda__=1443853581_c50ee034eaa2fb2ad4c65a5b6aaad441">        
		</section>

		<section class="final_match" ><img src="./images/final_match.png"></section>
	</section><br><br>

	
		<table>
			<thead>
				<tr>
					<th></th>
					<th class="match_boy">Dave</th>
					<th class="match_girl">Chen</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Age</td>
					<td>29</td>
					<td>26</td>
				</tr>
				<tr>
					<td>Location</td>
					<td>Tel-Aviv</td>
					<td>Kfar-Saba</td>
				</tr>
				<tr>
					<td>Education institution</td>
					<td>Shenkar Collage</td>
					<td>Shenkar Collage</td>
				</tr>
				<tr>
					<td>Origin City</td>
					<td>Netanya</td>
					<td>Kfar-Saba</td>
				</tr>
				<tr>
					<td>Work</td>
					<td></td>
					<td>Senkar Archive</td>
				</tr>
			</tbody>
		</table>
	



	
	<h2>Chances of prior familiarity</h2><br>
	<section class="barSection">
		<img src="./images/bar.png">
	</section>


	 <p>
	 	<a class="match" href="#">
	 		<img src="./images/v.png">
	 		Match!
	 	</a>
	 </p>
	 <p>
	 	<a class="no_match" href="boysgirls.html">
	 		<img src="./images/x.png">
	 		No, let's try again
	 	</a>
	 </p>

<script src="angular.min.js"></script>
<script src="MyMatcher.js"></script>

</body>
</html>